.card-container {
    display: flex;
    flex-direction: column;
    background-color: #7ceded;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;

}

.card-container:hover {
    transform: scale(1.05);
}